:root {
    /*Light mode
    https://www.color-hex.com/color-palette/106748*/
    --textColour: #484b6a;
    --backgroundColour: #fafafa;
    --boxBackgroundColour: #e4e5f1;
    --accentColour: #7700ff;
}