.dark{
    --textColour: #ffffff;
    --backgroundColour: #121212;
    --boxBackgroundColour: #1f1f1f;
    --accentColour: #cd4dff;
}
.light{
    --textColour: #484b6a;
    --backgroundColour: #fafafa;
    --boxBackgroundColour: #e4e5f1;
    --accentColour: #7700ff;
}